<form enctype="multipart/form-data" method="post" action="{{ACTION}}" >
    <fieldset id="formFieldset">
        <div class="feedback">
            {{FORM_FEEDBACK}}
        </div>
        <div class="formElements">
            <label class="label" for="file">Select Image</label>
            <input
                    id="file"
                    type="file"
                    name="userfile"

            />
            <small id="imageHelp">
                Only submit JPEG images
            </small>
        </div>

        <div class="formElements">
            <label class="label" for="title">Title</label>
            <input
                    id="title"
                    type="text"
                    name="title"
                    placeholder="Image title"
            />
        </div>

        <div class="formElements">
            <label class="label" for="description">Description</label>
            <textarea
                    id="description"
                    name="description"

            ></textarea>
        </div>

        <button type="submit" name="singlefileupload" id="formButton">
            Save
        </button>
    </fieldset>
</form>