<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{TITLE}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
<div id="wrapper">
    <header>
        <nav id="languageSelector">
            <form method="GET" action='includes/set_language.php'>
                <fieldset>
                    <p>
                        <label>
                            Site Language
                        </label>
                        <select name="chooseLanguage" id="myList">
                            <option value='en'>English</option>
                            <option value='ro'>Romanian</option>
                        </select>
                        <input type="submit"  name="setLanguage" value="Set Language"/>
                    </p>

                </fieldset>

            </form>
        </nav>
        <div id="pageTitle">
            <h1>{{PAGE_TITLE}}</h1>
        </div>



        <nav id="mainnav">
            <ul>
                <li><a href="index.php?page=home" target="_self">Home</a></li>
                <li><a href="index.php?page=upload" target="_self">Upload</a></li>
            </ul>
        </nav>
    </header>
    <div id="heading">
        <h3>{{HEADING}}</h3>
    </div>

    <div class="flexContainer">
        <!-- Implementing photo gallery using flexbox container -->